<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/mate_login.css"> <!-- Link to your CSS file for the login page -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="title">Login</div>
      <div class="content">
        <form action="/login" method="post">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Role</span>
              <input type="text" placeholder="Buyer / Seller" name="role" required>
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input type="text" placeholder="Email" name="email" required>
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input type="password" placeholder="Password" name="password" required>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Login">
          </div>
          <p style="text-align: center; margin-top: 20px; font-size: 16px;">Don't have an account? <a href="mate_register" style="color: #9b59b6; text-decoration: none;">Sign up</a>.</p>
        </form>
      </div>
    </div>
  </body>
</html>
