<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="css/mate_register.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <!-- <header>
        <nav>
            <div class="logo">
                <h1>InvestMate</h1>
            </div>
            <ul class="nav-links" style="padding-left:730px;">
                <li><a href="home.html">Home</a></li>
                <li><a href="mate_register">Register</a></li>
                <li><a href="resources/resources.html">Resources</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
            <div class="navbar-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </header> -->

  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="/mate_register" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" name="fullname" required>
          </div>
          <!-- <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" name="username" required>
          </div> -->
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" name="email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" name="phoneNumber" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" name="password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" name="confirmPassword" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="role" value="Seller" id="dot-1">
          <input type="radio" name="role" value="Buyer" id="dot-2">
          <!-- <input type="radio" name="gender" id="dot-3"> -->
          <span class="gender-title">Role</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Seller</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Buyer</span>
          </label>
          <!-- <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label> -->
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
        <div>
            <p style="text-align: center; margin-top: 20px; font-size: 16px;">Already have an account? <a href="login" style="color: #9b59b6; text-decoration: none;">Login in</a>.</p>
        </div>
      </form>
    </div>
  </div>

</body>
</html>